.prose {
	--prose-color: var(--color-zinc-800);
	--prose-heading-color: var(--color-zinc-900);
	--prose-strong-color: var(--color-zinc-950);
	--prose-link-color: var(--color-zinc-950);
	--prose-code-color: var(--color-zinc-950);
	--prose-marker-color: var(--color-amber-600);
	--prose-link-underline-color: var(--color-amber-600);
	--prose-th-borders: var(--color-zinc-300);
	--prose-td-borders: var(--color-zinc-200);
	--prose-hr-color: color-mix(in oklab, var(--color-zinc-950) 5%, transparent);
	--prose-blockquote-border-color: var(--color-zinc-300);

	@variant dark {
		--prose-color: var(--color-zinc-200);
		--prose-heading-color: var(--color-zinc-100);
		--prose-strong-color: var(--color-zinc-100);
		--prose-link-color: var(--color-zinc-100);
		--prose-code-color: var(--color-zinc-100);
		--prose-marker-color: var(--color-amber-400);
		--prose-link-underline-color: var(--color-amber-400);
		--prose-th-borders: var(--color-zinc-600);
		--prose-td-borders: var(--color-zinc-700);
		--prose-hr-color: color-mix(in oklab, var(--color-zinc-100) 10%, transparent);
		--prose-blockquote-border-color: var(--color-zinc-600);
	}

	color: var(--prose-color);
	font-size: var(--text-sm);
	line-height: 2;

	* + * {
		margin-top: calc(var(--spacing) * 4);
	}

	& > :where(:not(.heading)) {
		padding-inline: calc(var(--spacing) * 6);
		padding-block: calc(var(--spacing) * 4);
	}

	.heading[data-heading-rank="2"] {
		border-top: solid 1px var(--prose-color);
		margin-top: calc(var(--spacing) * 10);
		padding-inline: calc(var(--spacing) * 6);
		padding-block: calc(var(--spacing) * 8);
	}

	h2 {
		font-size: clamp(var(--text-lg), 0.25rem + 4vw, var(--text-3xl));
		line-height: calc(28 / 18);
		letter-spacing: -0.025em;
		color: var(--prose-code-color);
		font-weight: var(--font-weight-semibold);
		margin-top: calc(var(--spacing) * 16);
		font-feature-settings: "ss01", "ss02", "ss03";
	}

	& > :first-child {
		margin-top: 0;
	}

	& > :last-child {
		margin-bottom: 0;
	}

	h2:has(+ h3) {
		font-size: clamp(var(--text-xs), 0.125rem + 3vw, var(--text-lg));
		line-height: 2;
		font-weight: var(--font-weight-medium);
		font-family: var(--font-mono);
		font-variant-ligatures: none;
		letter-spacing: 0.1em;
		color: var(--prose-color);
		text-transform: uppercase;
	}

	h3 {
		font-size: clamp(var(--text-base), 0.25rem + 3vw, var(--text-2xl));
		line-height: calc(28 / 18);
		color: var(--prose-heading-color);
		font-weight: var(--font-weight-semibold);
		margin-top: calc(var(--spacing) * 12);
	}

	h2 + h3 {
		margin-top: calc(var(--spacing) * 6);
	}

	h4 {
		font-size: clamp(var(--text-sm), 0.125rem + 2vw, var(--text-xl));
		line-height: calc(28 / 14);
		color: var(--prose-heading-color);
		font-weight: var(--font-weight-semibold);
		margin-top: calc(var(--spacing) * 8);
	}

	:is(h2, h3, h4) {
		scroll-margin-top: calc(var(--spacing) * 32);
		@variant lg {
			scroll-margin-top: calc(var(--spacing) * 18);
		}
	}

	ol {
		padding-left: calc(var(--spacing) * 6);
		list-style-type: decimal;
	}

	ol li {
		padding-left: calc(var(--spacing) * 3);
	}

	ol li + li {
		margin-top: calc(var(--spacing) * 4);
	}

	ol li::marker {
		font-weight: 600;
		color: var(--prose-strong-color);
	}

	ul {
		padding-left: calc(var(--spacing) * 6);
		list-style-type: square;
	}

	ul li {
		padding-left: calc(var(--spacing) * 3);
	}

	ul li + li {
		margin-top: calc(var(--spacing) * 4);
	}

	ul li::marker {
		color: var(--prose-marker-color);
	}

	a:not(:where(:is(h2, h3, h4) *)) {
		color: var(--prose-link-color);
		font-weight: var(--font-weight-semibold);
		text-decoration: underline;
		text-underline-offset: 3px;
		text-decoration-color: var(--prose-link-underline-color);
		text-decoration-thickness: 1px;
		& code {
			font-weight: var(--font-weight-semibold);
		}
	}

	a:hover {
		text-decoration-thickness: 2px;
	}

	a:has(> [data-media]) {
		display: block;
	}

	strong {
		color: var(--prose-strong-color);
		font-weight: var(--font-weight-semibold);
	}

	code {
		font-variant-ligatures: none;
		font-family: var(--font-mono);
		font-weight: var(--font-weight-medium);
		color: var(--prose-code-color);
	}

	:where(h2, h3, h4) code {
		font-weight: var(--font-weight-semibold);
	}

	code::before,
	code::after {
		display: inline;
		content: "`";
	}

	pre {
		margin-top: calc(var(--spacing) * 4);
		margin-bottom: calc(var(--spacing) * 10);
		padding: --spacing(2);
	}

	pre code * + * {
		margin-top: 0;
	}

	pre code::before,
	pre code::after {
		content: none;
	}

	pre code {
		font-variant-ligatures: none;
		font-family: var(--font-mono);
		font-size: var(--text-sm);
		line-height: 2;
	}

	table {
		width: 100%;
		table-layout: auto;
		margin-top: 2em;
		margin-bottom: 2em;
		font-size: var(--text-sm);
		line-height: 1.4;
	}

	thead {
		border-bottom-width: 1px;
		border-bottom-color: var(--prose-th-borders);
	}

	thead th {
		color: var(--prose-heading-color);
		font-weight: 600;
		vertical-align: bottom;
		padding-inline-end: 0.6em;
		padding-bottom: 0.8em;
		padding-inline-start: 0.6em;
	}

	thead th:first-child {
		padding-inline-start: 0;
	}

	thead th:last-child {
		padding-inline-end: 0;
	}

	tbody tr {
		border-bottom-width: 1px;
		border-bottom-color: var(--prose-td-borders);
	}

	tbody tr:last-child {
		border-bottom-width: 0;
	}

	tbody td {
		vertical-align: baseline;
	}

	tfoot {
		border-top-width: 1px;
		border-top-color: var(--prose-th-borders);
	}

	tfoot td {
		vertical-align: top;
	}

	tbody td,
	tfoot td {
		padding-top: 0.8em;
		padding-inline-end: 0.6em;
		padding-bottom: 0.8em;
		padding-inline-start: 0.6em;
	}

	tbody td:first-child,
	tfoot td:first-child {
		padding-inline-start: 0;
	}

	tbody td:last-child,
	tfoot td:last-child {
		padding-inline-end: 0;
	}

	th,
	td {
		text-align: start;
	}

	td code {
		font-size: 0.8125rem;
	}

	hr {
		border-color: var(--prose-hr-color);
		margin-block: --spacing(16);
		& + h2 {
			margin-top: --spacing(16);
		}
	}

	blockquote {
		font-style: italic;
		border-inline-start-width: 0.25rem;
		border-inline-start-color: var(--prose-blockquote-border-color);
		padding-inline-start: calc(var(--spacing) * 4);
	}

	blockquote p:first-of-type::before {
		content: open-quote;
	}

	blockquote p:last-of-type::after {
		content: close-quote;
	}

	figure {
		figcaption {
			margin-top: calc(var(--spacing) * 3);
			text-align: center;
			font-size: var(--text-sm);
			line-height: var(--text-sm--line-height);
			font-style: italic;
			color: color-mix(in oklab, var(--prose-color) 75%, transparent);
		}
	}
}
