---
import { TITLE } from "$/utils/constants";
---

<header class="sticky top-0 left-0 z-[5] h-10 w-full border-b bg-zinc-100 lg:h-12 dark:bg-zinc-900">
	<div
		class="mx-6 grid h-full grid-cols-2 divide-x border-x *:h-full *:px-4 md:mx-8 lg:mx-12 lg:grid-cols-3"
	>
		<div class="flex items-center">
			<a href="/" class="text-xl font-semibold lg:text-2xl">
				<span class="inline-block max-sm:hidden">
					{TITLE}.
				</span>
				<span class="hidden max-sm:inline-block">R.</span>
			</a>
		</div>
		<div aria-hidden="true" class="hidden lg:block"></div>
		<div class="flex items-center gap-4 font-semibold max-lg:text-sm">
			<a href="/blog">Blog</a>
		</div>
	</div>
</header>
